{% extends "base.html" %}

{% block title %}Public Timeline - {{ block.super }}{% endblock %}

{% block content %}
<style>
    .user-card {
                width: 80%;
                height: auto;
                margin: auto;
                margin-top: auto;
                margin-bottom: auto;
                background: #e8e8e8;
                position: relative;
                display: flex;
                flex-direction: column;
                padding: 10px;
                border-radius: 20px;
    }
</style>
<br>
    <h2 align="center">Public Timeline</h2>
<hr>
    <ul id="timeline">
        {% for tweet in tweets %}
            <div class="user-card">
                <span class="body">@<a href="{% url 'userline' tweet.username %}" class="username">{{ tweet.username }}</a> : {{ tweet.body|urlize }}</span>
            </div>
        &nbsp;
        {% empty %}
            <p align="center">There are no tweets yet.  Make sure to post one!</p>
        {% endfor %}
        {% if next %}
            <p align="center" class="more"><a href="?start={{ next }}">---More---</a></p>
        {% endif %}
    </ul>
</div>
{% if not request.user.is_authenticated %}
<p style="font-size:20px" align="center"><a href="{% url 'login' %}">Log in</a>&nbsp;to post a tweet</p>
    {% endif %}
{% endblock %}
